#precu_katalogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.625em;
}

.card {
  height: clamp(250px, 250px, 300px);
  border: 1px solid green;
  border-radius: 0.625em;
  overflow: hidden;
  text-overflow: ellipsis;

  & .pic {
    height: 150px;

    & img {
      width: 100%;
      height: 100%;
    }
  }
}
